<link rel="stylesheet"  href="/css/post.css">
<h1>arghhh</h1>
 <section id="feed-post">
     <h4>Post</h4>
     <form action="/posts/create" id="new-post-form" method="post">
     <textarea name="content" cols="30" rows="3" placeholder="type-here"> </textarea>
     <input type="submit" value="Post">
     <div id="posts-list-container">
        <ul>
            <% for(post of posts){%>
           <li>
            <%=post.content%>::
            <span>
                <%if(post.user){%>
                    <%=post.user.name%>
                <%}%>
               
                   </span>
                 </li>
                
            <%}%>
        </ul>
     </div>
     </form>
 </section>