<h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Your Password" required><br>
    <input type="submit" value="signIn">
</form>
  