<h1>Sign In</h1>
<form action="'/user/create-session" method="post">
    <input type="email" name="name" placeholder="Your Name" required><br>
    <input type="password" name="name" placeholder="Your Password" required><br>
    <input type="submit" value="signIn">
</form>
