<div>
    <p>
        Hii This is <%=comment.user.name%>
    </p>
    <p>
        your comment <strong><%=comment.content %></strong> just got published on social
    </p>
    <br>
    <p>thanks</p>
</div>